<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/recipe.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
</head>
<body>
           <!-- Header -->
  <header class="header"></header>

  <div class="blur-logo">
    
  </div>
  <img id="blur-img" src="/img/Group 16.png" alt="">

  <!-- Container with Sidebar and Main Content -->
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">

    <div class="icon-button" >
            <img src="/img/window.svg" alt="" width="40px">
            <span>
                <img src="/img/left.svg" alt="" width="40px">
            </span>
          </div>
      <div onclick="redirectToPage('/templates/categories.html')" class="icon-button">
        <img src="/img/home.svg" alt="" width="40px">
        <span>Home</span>
      </div>
      <div class="icon-button" onclick="showContent('likesContent')">
        <img src="/img/like.svg" alt="" width="40px">
        <span>Daily meal</span>
      </div>
      <div class="icon-button" onclick="showContent('supportContent')">
        <img src="/img/support.svg" alt="" width="40px">
        <span>Support</span>
      </div>
      <div class="icon-button" onclick="showContent('userEmailContent')">
        <img src="/img/user.svg" alt="" width="40px">
        <span>User Email</span>
      </div>
      <div class="icon-button" >
        
        <div onclick="redirectToPage('/templates/landing.html')" id="logout-icon">
            <span><img src="/img/logout.svg" alt="" width="40px"></span>
            
            <span>Logout</span>
        </div>
      </div>
    </aside>

    <main>
        <div>
            <div class="recipeTitle"> 
                <div class="textWrapper">
                    <p>Leek and Mushroom Quiche</p>
                </div>
                <img src="/img/recipeLike.svg" alt="">
            </div>
            
            <hr>
        </div>
        <div class="telegram-text">
            <img src="/img/telegram.svg" alt="">
            <p>join to our telegram channel where we share video <br> “How to cook the <span id="brownText">Leek and Mushroom Quiche</span>”</p>
        </div>
        <div class="ingredients-data">
            <div class="ingredients-container">
                <p>INGREDIENTS</p>
                <hr>
                <ul class="text-list">
                    <li>Cream</li>
                    <li>Garlic</li>
                    <li>Chicken eggs</li>
                    <li>Mushrooms</li>
                </ul>
                

            </div>
            <div class="ingredients-text">
                <p>Bring water to a boil, and add your pasta. Cook for 8-10 minutes, depending on the texture of pasta you like. When done, reserve 1 c. of pasta water in a bowl. Then drain pasta. Do not rinse While pasta is cooking, add olive oil to a heated saucepan. Add garlic and cooked until browned Add frozen peas and lemon juice. Saute until peas are tender. Stir in cashew cream, cheese, lemon zest, granulated onion, oregano, thyme and crushed red pepper. Bring to a boil, then simmer for 10 minutes After 10 minutes, the sauce will become thick. Remove saucepan from heat. Add 1 c. of reserved pasta water to thin the sauce. Add salt and pepper to taste Pour pasta into sauce and toss until pasta is well-coasted. Serve</div>
        </div>
    </main>
    <script src="/js/hello.js"></script>
</body>
</html>