* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ysabeau Office", sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  /* Header styling */
  .header {
    width: 100%;
    height: 330px;
    background: url('/img/recipeHeader.png') no-repeat center center;
    background-size: cover;
    background-position: bottom;
    position: relative;
    z-index: 1;
  }
  /* Container styling */
  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  /* Sidebar styling */
  .sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 130px 8px 0px 8px;
    background-color: rgba(136, 146, 160, 0.8);
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: left;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 2; 

  }
  .sidebar:hover {
    width: 200px;
    display: flex;
    
 
  }
  .sidebar .icon-button {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
  }
  .sidebar .icon-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
   
  }
  .icon-button i {
    font-size: 20px;
    display: flex;
    align-items: center;
    
  }
  .icon-button span {
    display: none;
  }
  .sidebar:hover .icon-button span {
    display: inline;
  }
  #logout-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
   
  }
  .blur-logo {
    position: absolute;
    z-index: 11;
    left: 70px;
    top: 5px;
    width: 700px;
    height: 130px;
    background: rgba(217, 217, 217, 0.89); /* Background color */
    filter: blur(90px); /* Apply blur only to the pseudo-element */
}
#blur-img{
    position: absolute;
    z-index: 12;
    left: 70px;
    top: 5px;
    width: 40%;
   
   
}
main{
    margin: 50px 180px;
}
.recipeTitle {
    display: flex;
    align-items: center; /* Vertically center the elements */
    position: relative; /* For centering the textWrapper absolutely */
    margin-bottom: 8px;
    padding: 40px 0px 20px 0px;
    justify-content: center;
}

.textWrapper {
    
  
    padding: 0 160px;
    text-align: center; /* Center text inside the wrapper */
    font-size: 42px;
    color: #5A2605;;
}

.recipeTitle img {
    
    width: 30px;
}
hr{
    background-color: rgba(111, 44, 3, 0.28);
    height: 3px;
    border: none;
    margin-bottom: 35px;

}
.telegram-text{
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 0px 100px;
    font-family: "Ysabeau", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 70px;
}

#brownText{
    color: #C54F06;
}



.text-list {
    list-style: none; /* Removes default bullet points */
    list-style-type: none;
    padding: 0; /* Removes default padding */
    margin: 0 30px; /* Removes default margin */
    color: #5A2605;

    
}

.text-list li {
  font-size: clamp(18px, 29px, 50px); /* Минимальный, адаптивный, и максимальный размер шрифта */
   /* Устанавливает высоту строки */
  white-space: nowrap; /* Запрещает перенос текста */
  overflow: hidden; /* Скрывает избыточный текст */
  text-overflow: ellipsis; /* Добавляет троеточие для длинных строк */
}


.ingredients-data {
  display: flex;
  width: 100%; /* Ensures the parent container occupies full width */
  gap: 20px; /* Adds space between the two sections */
  align-items: flex-start; /* Aligns items to the top */
 
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  width: 40%; /* Set width to 40% */
  background-color: rgba(195, 159, 133, 0.14); /* Optional background */
  padding: 30px; /* Optional padding */
  box-sizing: border-box; /* Ensures padding doesn't increase the width */
  padding-bottom: 150px;
  font-family: "Ysabeau", sans-serif;
  
  
}

.ingredients-container p {
  text-align: center;
  margin: 10px 0; /* Adjusts spacing around the title */
  color: #753208;
  
  font-size: 31px;

}

.ingredients-text {
  width: 60%; /* Set width to 60% */
  padding: 10px; /* Optional padding */
  box-sizing: border-box; /* Ensures padding doesn't overflow */
  overflow: auto; /* Adds scrollbar if content overflows */
  font-size: 29px;
  
}

/* Fix grid on smaller screens */
@media (max-width: 1440px) {
  main{
    margin: 50px 170px;
  }
  .recipeTitle {
    padding: 0px 0px 20px 0px;
}
.telegram-text{
  gap: 90px;
}
.textWrapper{
  font-size: 35px;
}
.telegram-text{
  font-size: 29px;
  padding: 0 0px 0 39px;
}
hr{
  margin-bottom: 20px;
}
.ingredients-text{
  font-size: 26px;
}
.ingredients-container p{
  font-size: 26px;
}
.text-list li{
  font-size: 26px;
}


    
}
 
  
  
  
  
  /* Fix grid on smaller screens */
  @media (max-width: 1200px) {
    main{
      margin: 50px 139px;
    }
    .recipeTitle {
      padding: 0px 0px 0px 20px;
  }
  .telegram-text{
    gap: 50px;
  }
  .textWrapper{
    font-size: 30px;
  }
  .telegram-text img{
    width: 60px;
  }
  .ingredients-text{
    font-size: 24px;
  }
  .ingredients-container p{
    font-size: 22px;
  }
  .text-list li{
    font-size: 23px;
  }
  
  }
  

  
  /* Fix grid on smaller screens */
  @media (max-width: 1024px) {
    
    main{
      margin: 50px 120px;
    }
    .recipeTitle {
      padding: 0px 0px 0px 20px;
  }
  .telegram-text{
    gap: 50px;
  }
  .textWrapper{
    font-size: 30px;
  }
  .telegram-text img{
    width: 60px;
  }
  .ingredients-text{
    font-size: 22px;
  }
  .ingredients-container p{
    font-size: 20px;
  }
  .text-list li{
    font-size: 20px;
  }
  
  }
  