body {
    margin: 0;
    font-family: "Ysabeau Office";
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    overflow: hidden;
}

.background-images {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tomato{
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
}
.cucumber {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    
   
}
.registration-form {
    
    width: 45%;
    height: 75%;
    margin: 69px 180px;
    z-index: 2;
    background: rgba(255, 255, 255);
    padding: 25px 42px;
    border-radius: 8px;
    max-width: 1300px; /* Consistent maximum width */
    min-width: 300px; /* Consistent minimum width */
    max-height: 1100px; /* Consistent maximum height */
    min-height: 30%; /* Consistent minimum height */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    text-align: center;
    box-sizing: border-box;

  
}
.logo1{
    width: 55%;
    display: block;
    margin: 0 auto 10px;
}
.logo2{
    width: 22%;
    display: block;
    margin: 0 auto 10px;

}

#form-title{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
}

.registration-form form {
    display: flex;
    flex-direction: column;
    
}



.registration-form input {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 40px;
    font-family: "Ysabeau Office";
    font-size: 16px;
}




.eye-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}


.expiry-cvv-container {
    display: flex;
    gap: 10px;
}
.expiry-cvv-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Ysabeau Office";
}
.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.pay-button {
    font-family: "Ysabeau Office", sans-serif;
    font-size: 30px;
    width: 450px;
    flex: 2.25;
    padding: 10px;
    background-color: #0060B9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Cancel Button */
.cancel-button {
    font-family: "Ysabeau Office";
    flex: 1;
    padding: 10px;
    background-color: #ffffff;
    color: #0060B9;
    border: none;
    border-radius: 4px;
    border: 1px solid #0060B9 ;
    cursor: pointer;
    font-size: 16px;
}

/* Hover Effects */
.pay-button:hover {
    background-color: #0050A0;
}

.cancel-button:hover {
    background-color: #b3b3b3;
}
.card-photo img {
    
    width: 70%;
    height: 70%;
    margin: 170px 150px;
}