* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ysabeau Office", sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  /* Header styling */
  .header {
    width: 100%;
    height: 140px;
    background: url('/img/yourpotHeader.png') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  .background-images {
    position: absolute;
    right: 0;
    bottom: 150px;
    margin: 0;
    padding: 0;
    z-index: -1;
    
  
}
.background-images img{
    width: 60%;
    object-fit: contain;
    display: block; /* Prevent inline spacing */
    font-size: 0;
    float: right; /* Wrap tightly without inline spacing */ 
   

}
  /* Container styling */
  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  /* Sidebar styling */
  .sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 130px 8px 0px 8px;
    background-color: rgba(136, 146, 160, 0.8);
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: left;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 2; 

  }
  .sidebar:hover {
    width: 200px;
    display: flex;
    
 
  }
  .sidebar .icon-button {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
  }
  .sidebar .icon-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
   
  }
  .icon-button i {
    font-size: 20px;
    display: flex;
    align-items: center;
    
  }
  .icon-button span {
    display: none;
  }
  .sidebar:hover .icon-button span {
    display: inline;
  }
  #logout-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
   
  }
  .pot-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   

  }
  .pot-logo img{
    width: 8%;
    height: 8%;
  }
  .pot-logo p{
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  }

main{
    margin: 0 160px;
  }

.ingredients-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 70px 70px;
    background-color: rgba(195, 159, 133, 0.3);
    margin: 50px 0 20px 0;
    border-radius: 5px;
}

.ingredient-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pushes content to left and right */
    gap: 10px;
}

.ingredient-name {
    font-size: 18px;
    flex-shrink: 0; /* Prevent shrinking of the name */
}

.svg-line-container {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Center the SVG */
}

.delete-button {
    padding: 5px 10px;
    font-size: 14px;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: red;
    color: white;
}
.search-button{
    border: 1px solid #deb97a;
    border-radius: 17px;
    width: 130px;
    box-shadow: 1px 2px 40px 5px rgba(255, 138, 0, 0.25);
    background: #ff8a00;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
    float: right;
    margin-bottom: 60px;
    font-family: "Alef", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

